h2,
textarea,
#nav {
    font-size:2rem;
}

h2 {
    font-family:monospace;
    margin:0;
    font-weight:normal;
}

.text {
    margin:.5rem 0;
    background:#ccc;
}

textarea {
    color:#fff;
}

.text textarea {
    background:transparent;
    background:#111;
    overflow:hidden;
    border:none;
    outline:none;
    resize:none;
    width:100%;
    max-width:40rem;
}

.del {
    color:red;
    cursor:pointer;
    float:right;
    line-height:1;
    padding:.25rem;
    font-size:1rem;
}

.mod,
.name {
    font-size:1.25rem;
    margin-right:.5rem;
}

a {
    color:black;
    text-decoration:none;
}

#nav a {
    margin-right:1rem;
}

#sub a {
    font-family:monospace;
    margin-right:1rem;
}

.active {
    color:red;
}

.offline {
    width:1rem;
    height:1rem;
}
