{{define "head" -}}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width">
<style>
.pass,
body {
	background:#000;
	color:#fff;
	font-size:1.375rem;
    font-family:monospace;
}
a, a:visited {
    color:lightblue;
}
.pass {
	max-width:100%;
    background:#333;
    border:none;
    outline:none;
    color:#fff;
    padding:4px;
}
</style>
{{end}}

{{define "login" -}}
{{template "head"}}
<title>Login</title>
<form id="form" action="/_login/verify" method="post">
    <input class="pass" name="pass" type="password">
</form>
{{end}}

{{define "access-denied" -}}
{{template "head"}}
<title>Write</title>
<code>access denied</code>
<br>
<br>
<a href="/_login">login</a>
{{end}}
