* {
    box-sizing:border-box
}

a {
    text-decoration:none;
}

$breakSingle: 40rem;
$breakWide:   90rem;

:root {
    --color-bg: hsl(0 0% 100%);
    --color-fg: black;
    --color-highlight: red;
    --color-text-fg: white;
    --color-text-bg: hsl(0 0% 100%);
    --color-text-bg-focus: hsl(56 100% 95%);
    --color-gray-link: hsl(0 0% 60%);

    --fontsize-nav: 1.3rem;
    --fontsize-textarea: 1.5625rem;
    --fontsize-lineheight: 1.35;
    --side-margin: .5rem;
}

.dark-theme {
    --color-bg: black;
    --color-fg: white;
    --color-text-fg: white;
    --color-text-bg: hsl(0 0% 0%);
    --color-text-bg-focus: hsl(0 0% 7%);
    --color-gray-link: hsl(0 0% 70%);
}

@media (min-width: $breakSingle) {
    :root {
        --fontsize-nav: 2rem;
        --side-margin: 1rem;
        --fontsize-lineheight: 1.4;
        --fontsize-textarea: 2.4rem;
    }
}

body {
    margin:0;
    background:var(--color-bg);
    color:var(--color-fg);
}

button {
    background:transparent;
    border:0;
    outline:none;
    color:var(--color-fg);
    cursor:pointer;
}

button .MuiSvgIcon-root {
    font-size:var(--fontsize-nav);
}

button:hover {
    color:var(--color-highlight);
}

#nav,
.text textarea,
.text header {
    padding:0 var(--side-margin);
}

#nav {
    margin:.5rem 0 0;
    font-size:var(--fontsize-nav);
}

#nav a {
    color:var(--color-fg);

}
#nav .active {
    color:red;
}

.options {
    float:right;
}

.text {
    margin:.5rem 0 2rem;
}

.name,
.mod {
    font-size:1rem;
    font-family:mono;
}

.name {
    color: var(--color-fg);
}

.mod {
    user-select:none;
    cursor: pointer;
}

.mod:active {
}

.name {
    margin-right:.75rem;
}



.text,
.text textarea {
    max-width:60rem;
}

.text textarea {
    color:var(--color-fg);
    background:var(--color-text-bg);

    margin-top:.5rem;
    overflow:hidden;
    border:none;
    outline:none;
    resize:none;
    width:100%;
    
    font-size:var(--fontsize-textarea);
    line-height:var(--fontsize-lineheight);
}

.text textarea:focus {
    // background:var(--color-text-bg-focus);
}

.del {
    color:red;
    cursor:pointer;
    float:right;
    line-height:1;
    ////padding:.25rem;
    font-size:1rem;
}

#nav input, 
#nav a {
    margin-right:1rem;
}

#sub a {
    font-family:monospace;
    margin-right:1rem;
}

.offline {
    width:1rem;
    height:1rem;
}



