* {
    box-sizing:border-box
}

body.dark {
    background:#000;
    color:#fff;
}

.dark #nav a {
    color:#fff;
}

h2,
textarea,
#nav {
    font-size:2rem;
}

h2 {
    font-family:monospace;
    margin:0;
    font-weight:normal;
}

.dark .text a {
    color:#fff;
}

.text header {
    padding:.5rem 1rem .75rem;
}

.text {
    margin:.5rem 0 2rem;
}

.text,
.text textarea {
    max-width:60rem;
}

.text textarea {
    color:#fff;
    background:transparent;
    background:#111;
    overflow:hidden;
    border:none;
    outline:none;
    resize:none;
    width:100%;
    
    padding:.5rem 1rem;
    font-size:2.25rem;
    line-height:1.5;
}

.mod,
.name {
    font-family:Georgia, serif;
    font-size:1.125rem;
}

.mod {
    font-family:Arial, sans-serif;
    font-size:.875rem;
}

.name {
    margin-right:.75rem;
}

.del {
    color:red;
    cursor:pointer;
    float:right;
    line-height:1;
    padding:.25rem;
    font-size:1rem;
}

a {
    color:black;
    text-decoration:none;
}

#nav input, 
#nav a {
    margin-right:1rem;
}

#sub a {
    font-family:monospace;
    margin-right:1rem;
}

.dark #nav .active,
.active {
    color:red;
}

.offline {
    width:1rem;
    height:1rem;
}
